        combo_l_sym_0 {
            timeout-ms = <30>;
            key-positions = <33 0>;
            bindings = <&kp GB_TILDE>;
        };

        combo_l_sym_1 {
            timeout-ms = <30>;
            key-positions = <33 1>;
            bindings = <&kp PLUS>;
        };

        combo_l_sym_2 {
            timeout-ms = <30>;
            key-positions = <33 2>;
            bindings = <&kp MINUS>;
        };

        combo_l_sym_3 {
            timeout-ms = <30>;
            key-positions = <33 3>;
            bindings = <&kp PERCENT>;
        };

        combo_l_sym_4 {
            timeout-ms = <30>;
            key-positions = <33 4>;
            bindings = <&kp GB_DOLLAR>;
        };

        combo_l_sym_11 {
            timeout-ms = <30>;
            key-positions = <33 11>;
            bindings = <&kp LBRC>;
        };

        combo_l_sym_12 {
            timeout-ms = <30>;
            key-positions = <33 12>;
            bindings = <&kp STAR>;
        };

        combo_l_sym_13 {
            timeout-ms = <30>;
            key-positions = <33 13>;
            bindings = <&kp RBRC>;
        };

        combo_l_sym_14 {
            timeout-ms = <30>;
            key-positions = <33 14>;
            bindings = <&HT_Double_Bslash 0 GB_BSLH>;
        };

        combo_l_sym_22 {
            timeout-ms = <30>;
            key-positions = <33 22>;
            bindings = <&HT_Double_LT 0 LT>;
        };

        combo_l_sym_23 {
            timeout-ms = <30>;
            key-positions = <33 23>;
            bindings = <&HT_Double_Bang 0 EXCLAMATION>;
        };

        combo_l_sym_24 {
            timeout-ms = <30>;
            key-positions = <33 24>;
            bindings = <&HT_Double_GT 0 GT>;
        };



        combo_l_num_1 {
            timeout-ms = <30>;
            key-positions = <33 1>;
            bindings = <&kp PLUS>;
        };

        combo_l_num_2 {
            timeout-ms = <30>;
            key-positions = <33 2>;
            bindings = <&kp MINUS>;
        };

        combo_l_num_3 {
            timeout-ms = <30>;
            key-positions = <33 3>;
            bindings = <&kp PERCENT>;
        };

        combo_l_num_10 {
            timeout-ms = <30>;
            key-positions = <33 10>;
            bindings = <&kp N6>;
        };

        combo_l_num_11 {
            timeout-ms = <30>;
            key-positions = <33 11>;
            bindings = <&kp N4>;
        };

        combo_l_num_12 {
            timeout-ms = <30>;
            key-positions = <33 12>;
            bindings = <&kp N0>;
        };

        combo_l_num_13 {
            timeout-ms = <30>;
            key-positions = <33 13>;
            bindings = <&kp N2>;
        };

        combo_l_num_24 {
            timeout-ms = <30>;
            key-positions = <33 24>;
            bindings = <&kp N8>;
        };



        combo_r_sym_5 {
            timeout-ms = <30>;
            key-positions = <36 5>;
            bindings = <&kp GB_POUND_SIGN>;
        };

        combo_r_sym_6 {
            timeout-ms = <30>;
            key-positions = <36 6>;
            bindings = <&kp GB_AT_SIGN>;
        };

        combo_r_sym_7 {
            timeout-ms = <30>;
            key-positions = <36 7>;
            bindings = <&HT_Double_Pipe 0 GB_PIPE>;
        };

        combo_r_sym_8 {
            timeout-ms = <30>;
            key-positions = <36 8>;
            bindings = <&kp CARET>;
        };

        combo_r_sym_15 {
            timeout-ms = <30>;
            key-positions = <36 15>;
            bindings = <&HT_Triple_Apostrophe 0 GRAVE>;
        };

        combo_r_sym_16 {
            timeout-ms = <30>;
            key-positions = <36 16>;
            bindings = <&kp LPAR>;
        };

        combo_r_sym_17 {
            timeout-ms = <30>;
            key-positions = <36 17>;
            bindings = <&kp QMARK>;
        };

        combo_r_sym_18 {
            timeout-ms = <30>;
            key-positions = <36 18>;
            bindings = <&kp RPAR>;
        };

        combo_r_sym_19 {
            timeout-ms = <30>;
            key-positions = <36 19>;
            bindings = <&HT_Double_Hash 0 GB_HASH>;
        };

        combo_r_sym_26 {
            timeout-ms = <30>;
            key-positions = <36 26>;
            bindings = <&HT_Double_Underscore 0 UNDERSCORE>;
        };

        combo_r_sym_27 {
            timeout-ms = <30>;
            key-positions = <36 27>;
            bindings = <&kp LBKT>;
        };

        combo_r_sym_28 {
            timeout-ms = <30>;
            key-positions = <36 28>;
            bindings = <&kp AMPS>;
        };

        combo_r_sym_29 {
            timeout-ms = <30>;
            key-positions = <36 29>;
            bindings = <&kp RBKT>;
        };



        combo_r_num_6 {
            timeout-ms = <30>;
            key-positions = <36 6>;
            bindings = <&kp AT>;
        };

        combo_r_num_16 {
            timeout-ms = <30>;
            key-positions = <36 16>;
            bindings = <&kp N3>;
        };

        combo_r_num_17 {
            timeout-ms = <30>;
            key-positions = <36 17>;
            bindings = <&kp N1>;
        };

        combo_r_num_18 {
            timeout-ms = <30>;
            key-positions = <36 18>;
            bindings = <&kp N5>;
        };

        combo_r_num_19 {
            timeout-ms = <30>;
            key-positions = <36 19>;
            bindings = <&kp N7>;
        };

        combo_r_num_27 {
            timeout-ms = <30>;
            key-positions = <36 27>;
            bindings = <&kp N9>;
        };

        combo_r_num_28 {
            timeout-ms = <30>;
            key-positions = <36 28>;
            bindings = <&kp J>;
        };

        combo_r_num_29 {
            timeout-ms = <30>;
            key-positions = <36 29>;
            bindings = <&kp K>;
        };
